/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
#navbar {
  background-color: #f5f0eb; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px; 
}

/* Navigation menu styles */
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  padding: 0 15px;
}

.nav-menu li a {
  text-decoration: none;
  color: #bdccd4; 
  font-weight: bold; 
  transition: color 0.3s ease-in-out; 
}

.nav-menu li a:hover {
  color: #ff80ab; 
}

/* Mobile menu toggle styles */
#mobile-menu-toggle {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
    position: fixed;
    top: 60px; 
    right: 0;
    width: 100%;
    background-color: #f5f0eb;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
  }
}

.nav-menu.active {
  display: flex;
  top: 30px;
}

.nav-menu li {
  padding: 10px 20px;
  text-align: center;
}
