/* Base styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
#navbar {
  background-color: #f5f0eb; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px; 
}

/* Navigation menu styles */
.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu li {
  padding: 0 15px;
}

.nav-menu li a {
  text-decoration: none;
  color: #bdccd4; 
  font-weight: bold; 
  transition: color 0.3s ease-in-out; 
}
